<launch>
    <arg name="lidarswitch" default="true"/>
    <include file="$(find transbot_bringup)/launch/bringup.launch"/>
    <!-- DH: On Github -->
    <include file="$(find usb_cam-ros2)/launch/camera.launch.py"/>
    <group if="$(arg lidarswitch)">
        <include file="$(find ldlidar_stl_ros2)/launch/ld19.launch.py"/>

        <!-- // ROS Library-->
        <!-- Camera's coordinate system-->
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera"
              args="0.0484 0 0.10403 0 0 0  /base_link /camera_link  30"/>

        <!-- Lidar coordinate system-->
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
              args="-0.03 0 0.13 3.1416 0 0  /base_link /laser  30"/>
        <!-- // ROS Library-->
    </group>
</launch>